* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  
}

body {
  font-size: 100%;
  background: linear-gradient(68.15deg, #8257e5 25.50% , #16161a 74.50%);
}



.cabecalho {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 24px;
}

.cabecalho-img{
  height: 72px;
}

.cabecalho-menu {
  display: flex;
  gap: 38px;
}

.cabecalho-menu-item {
  font-family: 'Sarala', sans-serif;
  font-size: 20px;
  font-weight: 400;
  
  color: #FFF2E7;

  transition: 0.5s;
}

.cabecalho-menu-item:hover {
  text-decoration: underline;
  transform: scale(1.15)
}

.conteudo {
  border-top: 0.4px solid #FFF2E7;
  margin-bottom: 45px;
  
}

.conteudo-principal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.conteudo-principal-escrito {
  display: flex;
  flex-direction: column;
  gap: 32px;

  animation: go-back-text 2.5s alternate;
}

@keyframes go-back-text {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}


.conteudo-principal-escrito h1 {
  font-family: 'Righteous', cursive;
  font-weight: 400;
  font-size: 64px;
  color: #fff2e7;
}

.conteudo-principal-escrito h2 {
  font-family: 'Sarala', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #ECD6C4;
}

.btn {
  background-color: #ECD6C4;
  width: 180px;
  height: 60px;
  border-radius: 20px;
  border: none;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.37);
  font-family: 'Sarala', sans-serif ;
  font-weight: 400;
  font-size: 24px;

  transition: 0.5s;
}

.btn:hover{
  transform: scale(1.15);
  background-color: rgba(236, 214, 196, 0.53)
}


.conteudo-principal-img {
  height: 430px;
  animation: go-back 2.5s alternate;
}

@keyframes go-back {
  from {
    transform: translateX(100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes go-back{from{opacity:0}
to{opacity:1}
}

.conteudo-secundario {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 48px;

  animation: go-back-text 2.5s alternate;
}

@keyframes go-back-text {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
  


.conteudo-secundario-titulo{
  border-top: 0.4px solid #fff2e7;
  padding-top: 48px;
  font-family: 'Righteous', cursive;
  font-size: 24px;
  margin-bottom: 16px;
  color: #FFF2E7;

}

.conteudo-secundario-topicos {
  font-family: 'Sarala', sans-serif ;
  font-weight: 400px;
  font-size: 18px;
  color: #ECD6C4;
}

.rodape {
  border-top: 0.4px solid #fff2e7;
  padding: 32px;
}

.rodape-img {
  height: 48px;
  display: block;
  margin: 0 auto;
}
